/* light */
.cls-13,
.cls-18,
.light-unclicked {
  fill: #defcf3
}

.light-unclicked:hover {
  fill: #fffbd4
}

.light-clicked {
  fill: #ffdbd4
}

/* semi-light */
.cls-1,
.semi-light-unclicked {
  fill: #9bf6dc
}

.semi-light-unclicked:hover {
  fill: #fff794
}

.semi-light-clicked {
  fill: #ffa794
}

/* semi-dark */
.cls-19,
.cls-3,
.semi-dark-unclicked {
  fill: #6bcaaf
}

.semi-dark-unclicked:hover {
  fill: #fff794
}

.semi-dark-clicked {
  fill: #d77b67
}

/* dark */
.cls-2,
.cls-20,
.dark-unclicked {
  fill: #2d7863
}

.dark-unclicked:hover {
  fill: #fff794
}

.dark-clicked {
  fill: #853c2b
}

.btn.btn-custom {
  width: 160px;
  background-color: #6bcaaf;
  border-color: #6bcaaf;
  margin: 3px;
  color: white;
  font-weight: bold;
}
.btn.btn-custom:hover{
  width: 160px;
  background-color: #fff794;
  border-color: #fff794;
  margin: 3px;
  color: white		;
  font-weight: bold;
}
.btn.btn-custom-active, .btn.btn-custom-active:hover{
  width: 160px;
  background-color: #d77b67;
  border-color: #d77b67;
  margin: 3px;
  color: #303030		;
  font-weight: bold;
}

.btn.btn-submit {
  width: 160px;
  background-color: #6bcaaf;
  border-color: #6bcaaf;
  color: white;
  font-weight: bold;
}
