.ontarget-button{
    background: #6bcaaf;
    border-color: #6bcaaf;
    --bs-btn-hover-bg: #367d69;
    --bs-btn-hover-border-color: #367d69;
}
.nav-button{
    margin-right: 10px;
}
.button-div{
    float: right;
}
.row-margin{
margin-bottom: 10px;
}
.table-wrapper {
    max-height: 200px;
    overflow: auto;
    display:flex;
  }
.centre {
    padding: 20px;
    text-align: center;
  }
.info{align-self: center;}
.designbutton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.increased-bottom-margin{
  margin-bottom: 25px;}

.increase-bottom-right-margin{
  margin-bottom: 25px;
  margin-right: 10px;
}
.flexdisplay{
  display: flex;
}