.ontarget-button{
    background: #6bcaaf;
    border-color: #6bcaaf;
    --bs-btn-hover-bg: #367d69;
    --bs-btn-hover-border-color: #367d69;
}
.nav-button{
    margin-right: 10px;
}
.button-div{
    float: right;
}
.row-margin{
margin-bottom: 10px;
}
.table-wrapper {
    max-height: 200px;
    overflow: auto;
    display:flex;
  }
.centre {
    text-align: center;
  }