.btn.btn-nav {
  background-color: #6bcaaf;
  border-color: #6bcaaf;
  color: white;
  font-weight: bold;
}
.btn.btn-outline-custom{
  border: 1px solid #ced4da;
  color: #495057; 
  font-weight: bold;
}