.btn.btn-nav {
  background-color: #6bcaaf;
  border-color: #6bcaaf;
  color: white;
  font-weight: bold;
  margin: 5px;
  width: 90px;
  float: right;
}

.btn.btn-outline-custom {
  border: 1px solid #6bcaaf;
  color: white;
  font-weight: bold;
  background-color: #6bcaaf;
}

.result-id {
  background-color: #defcf3;
  display: flex;
  width: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0.25rem;
}